<div class="row">
    <div>
        <div class="login-layout">
            <div class="col-md-offset-4 col-sm-offset-3 term-conditions-box">
                <label ng-show="isSuccessMsg" class="padding-left-10 error-msg" translate="COMMON.CREATE-MSG"></label>
            </div>
            <!-- Login form -->
            <header style="padding:100px;border:100px;margin:100px;">
                <h3>Welcome To Palos Heights</h3>
                <p>We added new features to our system to allow the user to pay a tickect or even request for an exemption</p>
                <p>Plese update your profile in order to view all your tickets exemptions</p>
            </header>
        </div>
    </div>
</div>
