<div class="row">
    <div>
        <div class="login-layout">
            <div class="col-md-offset-4 col-sm-offset-3 term-conditions-box">
                <label ng-show="isSuccessMsg" class="padding-left-10 error-msg" translate="COMMON.CREATE-MSG"></label>
            </div>
            <!-- Login form -->
            <div class="login-layout-body child-container">
                <form name="signinform" form-type="nonavigation" novalidate>
                    <h3 class="text-center">Forgot Password</h3>
                    <div class="form-group">
                        <label>Email</label>
                        <input name="useremail" type="text" class="form-control" autocomplete="off" ng-minlength="3" ng-maxlength="50" maxlength="50" ng-model="signFormData.useremail" required placeholder="Enter your email">
                        <div ng-messages="signinform.useremail.$error" ng-show="(signinform.$submitted && signinform.useremail.$error)" class="validation-msg">
                            <div ng-message="required"><span>this is filed is reqired </span></div>
                        </div>
                    </div>
                    <div class="form-group clearfix col-sm-offset-4 col-md-offset-5 col-xs-offset-4">
                        <button class="btn btn-primary btn-primary-web" type="submit" data-loading-text="Sign In" ng-click="authenticationAction()">Submit
                        </button>
                    </div>
                </form>
            </div>
            <div class="row" style="padding: 10px;border: 10px ;margin: 10px; ">
                <div class="col-md-offset-5 col-sm-offset-7 ">
                    <a href="Createuser" ng-click="something()">Create Account</a>
                </div>
            </div>
            <div class="row" style="padding: 10px;border: 10px ;margin: 10px; ">
                <div class="col-md-offset-5 col-sm-offset-7 ">
                    <a href="Use as Guest">Use as Guest</a>
                </div>
            </div>
        </div>
    </div>
